<%= comment %>

<% layout('../layout/boilerplate') %>




<form action="/show/<%= id %>/commentedit/<%= comment._id %>" method="post">
    <input type="text" name="text" value="<%= comment.text %>">
    <button>Edit</button>
</form>
